---
import { Icon } from 'astro-icon/components';
import en from '../../../i18n/en';
import es from '../../../i18n/es';
import Layout from '../../../layouts/Layout.astro';

import type { Language } from '../../../types/language.type';
import { coerce } from 'astro:schema';
export function getStaticPaths() {
  return [{ params: { lang: 'es' } }, { params: { lang: 'en' } }];
}

export const defaultRedirect = '/en';

const lang = Astro.params.lang as Language;
const translations = { es, en };
const t = translations[lang];
const content = t.gallery;
const images = [
  'image-1-1',
  'image-1-2',
  'image-1-3',
  'image-1-4',
  'image-2-1',
  'image-3-1',
  'image-3-2',
  'image-3-3',
  'image-3-4',
];
---

<Layout lang={lang} t={t}>
  <section
    class="bg-primary-dark h-[300px] md:h-[500px] w-full relative flex justify-center items-center"
  >
    <Icon
      name={'ondulate'}
      class={'absolute -bottom-px h-10 w-auto md:w-full md:h-auto z-10 left-0 rotate-180'}
      style="color: #FFF"
    />
    <img
      src="/images/main/bg-pets.webp"
      alt="Fondo de Monarcas"
      width="1599"
      height="914"
      class="absolute w-full h-full inset-0 top-0 z-0 object-cover object-top opacity-30"
      decoding="async"
      loading="lazy"
    />
    <div
      class="h-full w-full max-w-screen md:max-w-7xl flex flex-col justify-center items-center px-5 xl:px-0 gap-4 md:gap-8 translate-y-2.5"
    >
      <h1
        class="font-title text-[32px] md:text-[48px] leading-[120%] text-center text-white"
      >
        {content.title}
      </h1>
      <p
        class="text-[16px] md:text-[20px] text-white leading-[120%] font-medium text-center"
        set:html={content.description}
      />
    </div>
  </section>
  <section
    class="h-full w-full max-w-screen md:max-w-7xl items-center px-5 xl:px-0 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-5 md:gap-8 py-10 md:py-20"
  >
    {
      images.map((img) => (
        <div class="w-full h-auto rounded-[20px] relative overflow-hidden aspect-234/256">
          <img
            src={`/images/main/${img}.webp`}
            alt={`Imagen de ${img}`}
            width="234"
            height="256"
            loading="lazy"
            decoding="async"
            class="absolute w-full h-full inset-0 z-0 object-cover"
          />
        </div>
      ))
    }
  </section>
</Layout>
