---
import Button from '../../components/Button.astro';

type Translations = typeof import('../../i18n/es').default;
type GroomingContent = Translations['servicesPage']['grooming'];
interface Props {
  content: GroomingContent;
}
const { content } = Astro.props as Props;
// Obtener la ruta actual y normalizar el path sin prefijo de idioma
const currentPath = Astro.url.pathname;
// Detectar el idioma actual ('en' o 'es')
const match = currentPath.match(/^\/(en|es)/);
const lang = match ? match[1] : 'en';
---

<section
  class="h-full w-full max-w-screen md:max-w-7xl flex flex-col justify-center items-center px-5 xl:px-0 gap-[68px] sm:gap-[150px] md:gap-[50px] lg:gap-[105px] pt-[110px] md:pt-[173px]"
  data-aos="flip-up"
>
  <div class="flex flex-col justify-center items-center gap-[18px]">
    <h2
      class="font-title text-[32px] md:text-[40px] leading-[120%] text-center text-primary-dark"
    >
      {content.title}
    </h2>
    <p
      class="text-[16px] md:text-[20px] text-center text-paragraph leading-[120%]"
      set:html={content.description}
    />
  </div>
  <div
    class="w-full grid grid-cols-1 lg:grid-cols-2 justify-center items-center gap-14 sm:gap-[100px] md:gap-[58px] max-w-none md:max-w-[70%] lg:max-w-none"
  >
    {
      content.items.map((item) => (
        <div
          class={`w-full rounded-4xl ${item.image === 'dog-dental' || item.image === 'cat-dental' ? 'bg-primary-dark' : 'bg-primary'} pr-[23px] md:pl-0 py-7 md:py-14 flex justify-end items-center relative `}
        >
          <img
            src={`/images/main/${item.image}.webp`}
            alt={item.title}
            width={item.with}
            height={item.height}
            decoding="async"
            loading="lazy"
            class="w-[48%] sm:w-[32%] md:w-[50%] lg:w-[50%] h-auto absolute left-3 sm:left-10 md:left-3 bottom-7 md:bottom-10 max-h-none md:max-h-[327px] lg:max-h-none"
          />
          <div class="flex flex-col justify-center items-start gap-[15px] md:gap-[18px] max-w-[45%] md:max-w-[246px] z-20">
            <p class="text-[24px] md:text-[42px] leading-[120%] font-title text-white">
              {item.title}
            </p>
            <p class="text-[10px] md:text-[14px] leading-[120%] uppercase tracking-[1px] md:tracking-[2px] text-white">
              {item.description}
            </p>
            <Button
              text={item.button.label}
              href={`/${lang}/services${item.button.href}`}
              extraBtnClass="bg-white"
              iconName="arrow"
              textClass={
                item.image === 'dog-dental' || item.image === 'cat-dental'
                  ? 'text-primary-dark'
                  : 'text-primary'
              }
              iconClass="text-white"
              iconCircleClass={
                item.image === 'dog-dental' || item.image === 'cat-dental'
                  ? 'bg-primary-dark'
                  : 'bg-primary'
              }
            />
          </div>
        </div>
      ))
    }
  </div>
</section>
