---
import { Icon } from 'astro-icon/components';
import Button from '../../components/Button.astro';

type Translations = typeof import('../../i18n/es').default;
type HeroContent = Translations['services']['mobile-dog-grooming']['hero'];
interface Props {
  content: HeroContent;
}
const { content } = Astro.props as Props;
---

<section
  class={`w-full ${content.image.href == 'dog-1' ? 'bg-[#006EC9]/25' : 'bg-[#FFC600]/35'} h-full relative flex justify-center items-center`}
>
  <img
    src="/images/services/bg-dogs.webp"
    alt="Fondo de Mascotas"
    width="1599"
    height="673"
    class="absolute inset-0 w-full h-full object-cover pointer-events-none z-0"
    decoding="async"
    loading="eager"
  />
  <img
    src={`/images/services/${content.image.href}.webp`}
    alt={content.title}
    width={content.image.width}
    height={content.image.height}
    loading="eager"
    decoding="async"
    class={`${content.image.href == 'dog-1' ? 'w-[60%] lg:w-[575px]' : 'w-[60%] lg:w-[625px]'} h-auto z-20 absolute bottom-0 left-0 -translate-x-[25vw] lg:-translate-x-[15vw] xl:-translate-x-[5vw] 2xl:translate-x-0 hidden md:block`}
  />
  <div
    class={`h-full w-full max-w-screen md:max-w-7xl flex flex-col md:flex-row justify-center md:justify-end items-center px-5 xl:px-0 pt-30 md:pt-[150px] gap-[42px] md:gap-0 z-20`}
    data-aos="zoom-in"
    data-aos-offset="200"
  >
    <img
      src={`/images/services/${content.image.href}.webp`}
      alt={content.title}
      width={content.image.width}
      height={content.image.height}
      decoding="async"
      loading="eager"
      class={`${content.image.href == 'dog-1' ? ' sm:w-[430px]' : 'sm:w-[387px]'} w-full h-auto z-20 block md:hidden`}
    />
    <div
      class={`flex flex-col justify-center items-start gap-8 text-paragraph pb-[60px] ${content.image.href == 'dog-1' ? 'max-w-none md:max-w-[60%] 3xl:max-w-[70%]' : 'max-w-none md:max-w-[62%] 3xl:max-w-[70%]'}`}
    >
      <div class="flex flex-col justify-center items-start gap-4">
        <p
          class="text-[20px] text-normal tracking-[4px] leading-[120%] uppercase"
        >
          {content.subtitle}
        </p>
        <h1
          class="text-[36px] sm:text-[48px] leading-[110%] font-normal font-title"
        >
          {content.title}
        </h1>
        <p class="text-[20px] leading-[120%] font-normal">
          {content.description}
        </p>
      </div>
      <p class="text-[20px] leading-[120%] font-bold">{content.text1}</p>
      <div class="grid grid-cols-1 sm:grid-cols-2 gap-x-12 gap-y-9 sm:gap-y-4">
        {
          content.items.map((item) => (
            <div class="flex justify-start items-center gap-2.5 min-w-0">
              <Icon name={content.image.href} class="w-6 h-6 flex-none" />
              <p class="flex-1 min-w-0 text-[20px] leading-[120%] text-paragraph font-normal wrap-break-word">
                {item}
              </p>
            </div>
          ))
        }
      </div>
      <Button
        text={content.button.title}
        href={content.button.href}
        extraBtnClass="bg-primary"
        iconName="arrow"
        iconClass="text-primary"
      />
    </div>
  </div>
</section>
