---
import Button from '../components/Button.astro';

type Translations = typeof import('../i18n/es').default;
type InfoContent = Translations['services']['information'];
interface Props {
  content: InfoContent;
}
const { content } = Astro.props as Props;
// Obtener la ruta actual y normalizar el path sin prefijo de idioma
const currentPath = Astro.url.pathname;
// Detectar el idioma actual ('en' o 'es')
const match = currentPath.match(/^\/(en|es)/);
const lang = match ? match[1] : 'en';
---

<section
  class="h-full w-full max-w-screen md:max-w-7xl flex flex-col md:flex-row justify-between items-center px-5 xl:px-0 pt-[83px] pb-5"
>
  <img
    src="/images/pet-info.webp"
    alt="Information Monarca"
    width="429"
    height="467"
    class="w-[429px] h-auto"
  />
  <div class="flex flex-col justify-center items-start gap-[18px] max-w-none md:max-w-[55%]">
    <h2 class="text-[48px] leading-[120%] font-normal text-primary font-title">{content.title}</h2>
    <p class="text-[16px] leading-[140%] text-paragraph text-normal">{content.description}</p>
    <div class="flex justify-center items-center gap-3">
      {
        content.buttons.map((btn) => (
          <Button
            text={btn.label}
            href={`/${lang}/${btn.href}`}
            extraBtnClass={`bg-${btn.color}`}
            iconName={'arrow'}
            iconClass={`text-${btn.color}`}
          />
        ))
      }
    </div>
  </div>
</section>
