---
import { Icon } from 'astro-icon/components';
import Button from '../../components/Button.astro';
type Translations = typeof import('../../i18n/es').default;
type HeroContent = Translations['main']['hero'];
interface Props {
  content: HeroContent;
}
const { content } = Astro.props as Props;

// Obtener la ruta actual y normalizar el path sin prefijo de idioma
const currentPath = Astro.url.pathname;
// Detectar el idioma actual ('en' o 'es')
const match = currentPath.match(/^\/(en|es)/);
const lang = match ? match[1] : 'en';
---

<section
  class="w-full min-h-none sm:min-h-[78vh] lg:min-h-[88vh] flex items-start sm:items-center justify-center overflow-hidden relative"
>
  <Icon
    name={'ondulate'}
    class={'absolute -bottom-px w-full h-auto z-10 left-0 rotate-180'}
    style="color: #FFFFFF"
  />
  <img
    data-aos="fade-left"
    src="/images/main/image-1.webp"
    alt="Imagen de Perro"
    width="1200"
    height="800"
    class="absolute right-[2%] bottom-0 w-[80%] h-auto lg:h-[90%] xl:h-full lg:w-auto object-contain hidden lg:block"
    decoding="async"
    loading="eager"
  />
  <img
    data-aos="fade-left"
    src="/images/main/image-3.webp"
    alt="Imagen de Perro"
    width="800"
    height="672"
    class="hidden sm:block lg:hidden absolute right-[2%] bottom-0 w-[80%] h-auto object-contain"
    decoding="async"
    loading="eager"
  />
  <img
    src="/images/back-main.webp"
    alt="Background Main"
    class="w-[65vw] md:w-[80vw] lg:w-[55vw] h-auto absolute left-0 top-0 -z-10 hidden sm:block"
    width="1660"
    height="1157"
    decoding="async"
    loading="eager"
  />
  <img
    src="/images/back-main-2.webp"
    alt="Background Main"
    class="w-screen h-auto absolute left-0 top-0 -z-10 block sm:hidden"
    width="370"
    height="386"
    decoding="async"
    loading="eager"
  />
  <img
    src={`/images/main/back.webp`}
    alt="Imagen de Fondo de Monarca  - Mobile Pet Grooming"
    width="1920"
    height="1279"
    class="absolute inset-0 w-full h-full object-cover -z-20"
    loading="eager"
    decoding="async"
  />
  <div
    class="h-full w-full max-w-screen md:max-w-7xl flex flex-col sm:flex-row justify-center sm:justify-between items-center px-5 xl:px-0 pt-[100px] sm:pt-0 gap-2 sm:gap-0"
    data-aos="fade-right"
  >
    <div
      class="flex flex-col justify-center items-start gap-9 md:gap-[34px] max-w-none md:max-w-[63%] w-full"
    >
      <div
        class="flex flex-col justify-center items-start gap-3 text-white w-full"
      >
        <h2
          class="text-[16px] md:text-[20px] font-normal uppercase leading-[120%] tracking-[4px]"
          set:html={content.description}
        />
        <h1
          set:html={content.title}
          class="font-title text-[36px] lg:text-[60px] leading-[110%]"
        />
      </div>
      <div class="flex justify-center items-center gap-3">
        {
          content.buttons.map((btn) => (
            <Button
              text={btn.label}
              href={btn.href}
              extraBtnClass={`bg-${btn.color}`}
              iconName={'arrow'}
              iconClass={`text-${btn.color}`}
              shakeInterval={3000}
              shakeDuration={800}
            />
          ))
        }
      </div>
    </div>
    <img
      data-aos="fade-left"
      src="/images/main/image-3.webp"
      alt="Imagen de Perro"
      width="800"
      height="672"
      class="w-full h-auto block sm:hidden"
      decoding="async"
      loading="eager"
    />
  </div>
  <script src="/scripts/button-shake.js" defer></script>
</section>
