---
import { Icon } from 'astro-icon/components';
import Button from '../../components/Button.astro';
type Translations = typeof import('../../i18n/es').default;
type InfoContent = Translations['main']['information'];
interface Props {
  content: InfoContent;
}
const { content } = Astro.props as Props;

// Obtener la ruta actual y normalizar el path sin prefijo de idioma
const currentPath = Astro.url.pathname;
// Detectar el idioma actual ('en' o 'es')
const match = currentPath.match(/^\/(en|es)/);
const lang = match ? match[1] : 'en';
---

<section
  class="bg-white w-full flex justify-center items-center relative h-auto"
>
  <Icon
    name={'ondulate'}
    class={'absolute bottom-0 h-10 w-auto md:w-full md:h-auto z-10 left-0 rotate-180'}
    style="color: #101C38"
  />
  <div
    class="h-full w-full max-w-screen md:max-w-7xl flex flex-col justify-center items-center px-5 xl:px-0 gap-[92px] md:gap-[115px] pt-14 md:pt-[70px]"
  >
    <div
      class="flex flex-col xl:flex-row justify-between items-start xl:items-center w-auto xl:w-full wrap-normal gap-7 md:gap-6"
      data-aos="fade-up"
      data-aos-offset="300"
    >
      {
        content.list.map((item) => (
          <div class="flex justify-center items-center gap-[19px] ">
            <div class="px-[15px] md:px-5 py-[13px] md:py-[17px] bg-[#FCCA70] rounded-[18px] md:rounded-3xl ">
              <Icon
                name={item.icon}
                class="w-[70px] md:w-[100px] h-[70px] md:h-[100px]"
              />
            </div>
            <div class="flex flex-col justify-center items-start gap-3">
              <p class="font-title text-[36px] md:text-[40px] text-primary leading-[120%]">
                {item.numer}
              </p>
              <h3 class="text-[16px] md:text-[20px] font-medium leading-[120%] uppercase tracking-[4px] text-paragraph">
                {item.title}
              </h3>
              <p class="text-[14px] md:text-[16px] leading-[120%] text-paragraph">
                {item.description}
              </p>
            </div>
          </div>
        ))
      }
    </div>
    <div
      class="w-full flex flex-col justify-center items-center gap-[68px] sm:gap-[150px] md:gap-[50px] lg:gap-[105px]"
      data-aos="zoom-in"
      data-aos-offset="400"
    >
      <div class="flex flex-col justify-center items-center gap-[18px]">
        <h2
          class="font-title text-[32px] md:text-[40px] leading-[120%] text-center text-primary-dark"
        >
          {content.gromming.title}
        </h2>
        <p
          class="text-[16px] md:text-[20px] text-center text-paragraph leading-[120%]"
          set:html={content.gromming.description}
        />
      </div>
      <div
        class="w-full flex flex-col lg:flex-row justify-center items-center gap-14 sm:gap-[100px] md:gap-[58px] max-w-none md:max-w-[70%] lg:max-w-none"
      >
        {
          content.gromming.items.map((item) => (
            <div class="w-full lg:w-1/2 rounded-4xl bg-primary pr-[23px] md:pl-0 py-7 md:py-14 flex justify-end items-center relative ">
              <img
                src={`/images/main/${item.image}.webp`}
                alt={item.title}
                width={item.with}
                height={item.height}
                class="w-[48%] sm:w-[32%] md:w-[50%] lg:w-[50%] h-auto absolute left-3 sm:left-10 md:left-3 bottom-7 md:bottom-10 max-h-none md:max-h-[327px] lg:max-h-none"
              />
              <div class="flex flex-col justify-center items-start gap-[15px] md:gap-[18px] max-w-[45%] md:max-w-[246px] z-20">
                <p class="text-[24px] md:text-[42px] leading-[120%] font-title text-white">
                  {item.title}
                </p>
                <p class="text-[10px] md:text-[14px] leading-[120%] uppercase tracking-[1px] md:tracking-[2px] text-white">
                  {item.description}
                </p>
                <Button
                  text={item.button.label}
                  href={`/${lang}/services${item.button.href}`}
                  extraBtnClass="bg-white"
                  iconName="arrow"
                  textClass="text-primary"
                  iconClass="text-white"
                  iconCircleClass="bg-primary"
                />
              </div>
            </div>
          ))
        }
      </div>
    </div>
    <div
      class="w-full flex flex-col lg:flex-row justify-center lg:justify-between items-center lg:items-end gap-10 md:gap-0"
      data-aos="flip-left"
      data-aos-offset="400"
    >
      <img
        src="/images/main/why.webp"
        alt="why choose us"
        width="619"
        height="564"
        class="w-full lg:w-[50%] xl:w-[580px] h-auto max-w-[623px] order-2 lg:order-1"
      />
      <div
        class="flex flex-col justify-center items-start pt-[33px] pb-[85px] gap-[53px] max-w-[648px] order-1 lg:order-2"
      >
        <div
          class="flex flex-col justify-center items-center lg:items-start gap-[19px]"
        >
          <h2
            class="text-[32px] lg:text-[40px] leading-[130%] font-title text-primary-dark text-center lg:text-start"
          >
            {content.choose.title}
          </h2>
          <p
            class="text-[16px] leading-[130%] font-normal text-paragraph text-center lg:text-start"
          >
            {content.choose.description}
          </p>
        </div>
        <div class="flex flex-col justify-center items-center gap-[23px]">
          {
            content.choose.items.map((item, index) => (
              <>
                <div class="flex flex-col lg:flex-row justify-start items-center lg:items-start gap-[31px] w-full">
                  <div class="shrink-0 w-[100px] h-[100px] flex items-center justify-center">
                    <Icon
                      name={item.icon}
                      class={'w-[70px] md:w-[100px] h-[70px] md:h-[100px]'}
                    />
                  </div>
                  <div class="flex-1 min-w-0 flex flex-col justify-center items-start gap-[11px]">
                    <h3 class="text-[20px] font-subtitle leading-[120%] font-semibold">
                      {item.title}
                    </h3>
                    <p class="text-[16px] leading-[130%] text-[#686868]">
                      {item.description}
                    </p>
                  </div>
                </div>
                <div
                  class={`${index === 1 ? 'hidden' : ''} w-full bg-black/10 h-px`}
                />
              </>
            ))
          }
        </div>
      </div>
    </div>
  </div>
</section>
